body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
:root {
  --color-text-dark: rgb(33, 33, 33);
  --color-text-light: rgb(255, 255, 255);
  --color-background-dark: rgb(47, 48, 58);
  --color-mark: rgb(33, 150, 243);
}
ul {
  list-style-type: none;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
h3 {
  color: var(--color-text-dark);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
}
p {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(117, 117, 117, 1);
}
.container {
  width: 1200px;
  margin: 0 215px;
}
.contact__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  fill: rgba(117, 117, 117, 1);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation {
  margin-left: 93px;
}
.contact__link:hover,
.contact__link:focus,
.navigation__link:hover,
.navigation__link:focus,
.contact__item:hover,
.contact__item:focus {
  fill: var(--color-mark);
  color: var(--color-mark);
}
.strength__icon {
  display: inline-flex;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  padding: 25px 100px;
}
.navigation__link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link--active::after {
  content: "";
  position: absolute;
  top: 76px;
  background-image: url(../images/active.jpg);
  width: 53px;
  height: 4px;
  border-radius: 2px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
}
.logo--header {
  color: rgb(0, 0, 0);
}
.logo--footer {
  color: var(--color-text-light);
}
.logo__link-text {
  color: var(--color-mark);
}
.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-line {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.navigation__list {
  display: flex;
  gap: 46px;
  flex-basis: calc((100%-2 * 46px) / 3);
}
.contact {
  display: inline-flex;
  align-items: center;
  gap: 50px;
}
.contact__link {
  text-decoration: none;
  color: rgba(117, 117, 117, 1);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.motto {
  display: flex;
  width: 1600px;
  height: 600px;
  background-color: linear-gradient
    (rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%);
  background-image: url("../images/background-image.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 0 0 0;
  color: var(--color-text-light);
  line-height: 1.36;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
}
.button {
  background-color: var(--color-mark);
  color: var(--color-text-light);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.button__motto {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  margin: 30px 500px 200px 500px;
  padding: 10px 41px;
  width: 200px;
}
.modal {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition-property: visibility, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal > .backdrop {
  height: 581px;
  width: 528px;
  border-radius: 4px;
  background-color: var(--color-text-light);
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.form__sign-up {
  margin: 12px 40px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.field__label {
  font-size: 12px;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.field__input {
  width: 448px;
  min-height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.field__input:focus {
  border-color: var(--color-mark);
  outline: none;
}
.form__title {
  display: block;
  margin-bottom: 12px;
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--color-text-dark);
}
.field__label > .field__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(50%);
}
.field__icon {
  display: inline-block;
}
.field__label:focus-within {
  fill: var(--color-mark);
}
.form__field {
  transition-property: fill, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field {
  margin-bottom: 10px;
}
.agreement {
  margin-bottom: 30px;
}
.form__agreement {
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgba(117, 117, 117, 1);
}
.agreement__label--statute {
  color: var(--color-mark);
  cursor: pointer;
}
.agreement__button {
  padding: 10px 76px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  transition-property: fill, color, background-color, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input--comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
}
.agreement__field {
  appearance: none;
}
.agreement__label {
  position: relative;
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
}
.agreement__label::before {
  display: block;
  position: absolute;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-text-dark);
  border-radius: 2px;
  top: 2px;
  left: -20px;
}
.agreement__field:checked + .agreement__label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-position: center;
  border: none;
}
::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__close-button {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 17px 10px 553px 500px;
  padding: 9px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}
.strength {
  display: flex;
  padding: 94px 0 0;
  justify-content: flex-start;
  margin: 0;
}
.strength:last-child {
  margin-right: 0;
}
.strength__item {
  width: 270px;
  min-height: 75px;
  flex-basis: calc((100%-3 * 30) / 4);
}
.direction {
  gap: 30px;
}
.direction__title {
  padding: 94px 215px 0 215px;
}
.direction__img {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}
.direction__img li {
  flex-basis: calc((100%-2 * 30px) / 3);
}
.direction__overlay {
  position: relative;
}
.direction__overlay-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.17;
  color: var(--color-text-light);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}
.background-team {
  background-color: #f5f4fa;
}
.team {
  display: flex;
  flex-direction: column;
}
.team__title {
  padding: 94px 480px 50px 480px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.team__persons {
  display: flex;
  gap: 30px;
  padding: 0;
  justify-content: space-between;
  margin-top: 0;
}
.team__person {
  background-color: var(--color-text-light);
  flex-basis: calc((100%-3 * 30px) / 4);
  margin-bottom: 94px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
  padding-top: 30px;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.team__job {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}
.social-links {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  padding-bottom: 18px;
  padding-top: 16px;
}
.social-links__item {
  display: flex;
  fill: rgba(175, 177, 184, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-text-light);
  padding: 12px;
  flex-basis: calc((100%-3 * 10px) 4);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__item:hover,
.social-links__item:focus {
  cursor: pointer;
  fill: var(--color-text-light);
  background-color: var(--color-mark);
}
.social-link {
  display: flex;
  fill: rgba(255, 255, 255, 1);
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  flex-basis: calc((100%-3 * 10px) 4);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color, cursor, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  cursor: pointer;
  background-color: var(--color-mark);
}
.our-clients {
  background-color: var(--color-text-light);
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  flex-basis: calc((100%-5 * 30px) 6);
  fill: rgba(175, 177, 184, 1);
  transition-property: border-color, cursor, fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__item:hover,
.clients__item:focus {
  cursor: pointer;
  fill: var(--color-mark);
  border-color: var(--color-mark);
}
footer {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  min-height: 252px;
}
address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 20px;
}
.social {
  display: flex;
  flex-direction: column;
  width: 206px;
  margin-left: 70px;
  margin-top: 72px;
}
.social-links__item--dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.social__title {
  color: var(--color-text-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__logo {
  margin-top: 60px;
}
.newsletter {
  margin-left: 94px;
}
.newsletter__input {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(47, 48, 58, 1);
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-height: 50px;
  padding-left: 16px;
}
.newsletter__text {
  text-transform: uppercase;
  line-height: 1.17;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text-light);
  margin: 72px 0 20px;
}
.button-footer {
  background-color: var(--color-mark);
  font-weight: 700;
  line-height: 1.88;
  color: var(--color-text-light);
  text-align: center;
  width: 200px;
  min-height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.newsletter__button-send {
  fill: rgba(255, 255, 255, 1);
  margin-left: 24px;
}
.main-portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}
.portfolio-buttons__item {
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-buttons__item:hover,
.portfolio-buttons__item:focus {
  background-color: var(--color-mark);
  color: var(--color-text-light);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  padding: 0;
  gap: 8px;
}
.projects {
  padding: 0;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.project:hover,
.project:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.project {
  flex-basis: calc((100%-2 * 30px) 3);
  border: 1px solid rgba(238, 238, 238, 1);
  transition-property: cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project__img {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.project__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms ease;
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
}
.project__overlay > p {
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-text-light);
  margin: 49px 45px 49px 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover .project__overlay {
  transform: translatey(0);
}
.project__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  padding: 20px 24px 0 24px;
  margin: 0 auto;
}
.project__type {
  font-size: 16px;
  line-height: 1.88;
  padding: 4px 24px 20px 24px;
  margin: 0 auto;
}
